<div class="modal-header">
  <h4 class="modal-title">Hi there! HOU HOU</h4>
</div>
<div class="modal-body">
  <p>Hello, HUUHUHUgtfd !</p>
  <h2 mat-dialog-title>HAAAA</h2>

  <div *ngFor="let chmin of this.chminsphotos">
    <li>
      <p>GT BGGGGGGGGGG</p>
      <img src="{{ chmin }}" width="400px" height="500px" />
      <!--   <source src='../../../content/images/uu.mp3' type="audio/mpeg">
                  
                 <source src='../../../content/audios/uu.mp3' type="audio/mpeg">  -->
    </li>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
