$couleurCreer: rgb(172, 173, 63);
$couleurCare: #70ad3f;
$couleurContourCare: rgb(45, 70, 25);
$form-bg: #d8c689;
$site-bg: #ffffff;
//$form-shadow: #ffa580;
$form-shadow: #ff8a5c;
$form-primary-highlight: #95a4ff;
$form-secondary-highlight: #ffc8ff;
$font-size: 14pt;
$font-size-nom: 24pt;
$font-face: 'Fjalla One';
$font-color: #2a293e;
$couleurDetails: #000000;
$couleurFrom: #2a293e;
$couleurUpload: #2a293e;
$taille: 100px;
$taillepetit: 75px;

.body {
  background-color: #0c1109;
  position: absolute;
  left: 800px;
}

section {
  display: table;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  text-align: center;
}

h2 {
  color: blue;
  font-size: 35px;
}

h3 {
  color: red;
  font-size: 35px;
}

h4 {
  color: rgb(218, 4, 247);
  font-size: 35px;
}

h5 {
  color: rgb(255, 166, 0);
  font-size: 35px;
}

h6 {
  color: rgb(0, 255, 191);
  font-size: 35px;
}

.reveal-text {
  position: absolute;
  width: 0;
  z-index: 3;
  overflow: hidden;
  white-space: nowrap;
  transition: width 1s;
  color: white;
  left: 60px;
}

.creerContenant {
  position: absolute;
  border-radius: 50%; /* Assurez-vous que le cercle est un cercle parfait */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  z-index: 7;
  background-color: $couleurCreer;
  background: radial-gradient(circle, $couleurCreer 30%, transparent 70%);
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  cursor: pointer;
}

//.creerContenant:hover .reveal-text {
//  width: 100%;
//}

.yoyo {
  position: absolute;
  top: 150px;
  left: -125px;
}

.yoyo:hover .reveal-text {
  width: 200px;
}

.creerAudio {
  position: absolute;
  border-radius: 50%; /* Assurez-vous que le cercle est un cercle parfait */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: #48ff70;
  z-index: 2;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 12px 16px;
  border: none;
  background-color: #e4a264;
  cursor: pointer;
}
/* Style du conteneur du menu déroulant */
.dropdown {
  bottom: 150px;
  background-color: #e4a264;
  left: -470px;
  position: absolute;
  display: inline-block;
}

/* Style du contenu du menu déroulant (caché par défaut) */
.dropdown-content {
  background-color: #e4a264;
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  min-width: 160px;
  z-index: 1;
}

/* Style des liens du menu déroulant */
.dropdown-content a {
  background-color: #e4a264;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change la couleur du lien lorsque vous survolez le menu */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Affiche le menu déroulant lorsque le bouton est survolé */
.dropdown:hover .dropdown-content {
  display: block;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

li {
  font-size: 25px;
}

a.aud {
  color: #1100ff;
  text-decoration: none;
  font-size: 25px;
}
a.aud:link {
  color: #1100ff;
}
a.aud:visited {
  color: #0000ff;
}
a.aud:hover {
  color: #ffcc00;
}

a.miam {
  color: #198f46;
  text-decoration: none;
  font-size: 25px;
}
a.miam:link {
  color: #198f46;
}
a.miam:visited {
  color: #198f46;
}
a.miam:hover {
  color: #ffcc00;
}

a.con {
  color: #58b125;
  text-decoration: none;
  font-size: 25px;
}
a.aud:link {
  color: #0c1109;
}

a.bu {
  color: #aa47c9;
  text-decoration: none;
  font-size: 25px;
}
a.bu:link {
  color: #aa47c9;
}
a.bu:visited {
  color: #aa47c9;
}
a.bu:hover {
  color: #ffcc00;
}

a.film {
  color: #72d9eb;
  text-decoration: none;
  font-size: 25px;
}
a.film:link {
  color: #72d9eb;
}
a.film:visited {
  color: #72d9eb;
}
a.film:hover {
  color: #72d9eb;
}

.toutou {
  text-decoration: none;
  position: relative;
}

.toutou span {
  display: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: black;
  background: white;
}

.toutou span img {
  float: left;
  margin: 0px 8px 8px 0;
}

.toutou:hover span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: auto;
  max-width: 320px;
  min-height: 128px;
  border: 1px solid black;
  margin-top: 12px;
  margin-left: 32px;
  overflow: hidden;
  padding: 8px;
}

a span {
  display: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: black;
  background: white;
}

a span img {
  float: left;
  margin: 0px 8px 8px 0;
}

a:hover span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: auto;
  max-width: 320px;
  min-height: 128px;
  border: 1px solid black;
  margin-top: 12px;
  margin-left: 32px;
  overflow: hidden;
  padding: 8px;
}

.concontenant {
  position: relative;
  top: -150px;
  height: 100px;
  width: 200px;
  border: 2px solid #f5dc00; /* Définit une bordure de 2 pixels solide de couleur noire */
  left: 50px; /* Centre le cadre horizontalement dans le conteneur parent */
  top: -150px;
  z-index: 0;
  border-radius: 25px;
  cursor: pointer;
}

.audioboulasse {
  position: absolute;
  border-radius: 50%; /* Assurez-vous que le cercle est un cercle parfait */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  color: #586fee;
  z-index: 2;
  background: #586fee;
  background-color: #586fee;
  cursor: pointer;
}

.vertical-line {
  position: absolute;
  width: 2px; /* Largeur de la ligne verticale */
  height: 200px; /* Hauteur de la ligne verticale */
  background-color: red; /* Couleur de la ligne */
  z-index: 85;
  left: 70%; /* Position horizontale de la ligne (au milieu du rectangle) */
  top: 10px; /* Position verticale de la ligne (ajustez selon vos besoins) */
  transform: translateX(-50%); /* Pour centrer la ligne horizontalement */
}

.text-container {
  position: absolute;
  border: 1px solid black;
  top: 400px;
  left: 200px;
  color: #000;
  clip-path: circle(0% at 50% 50%); /* Initial masquage complet */
  transition: clip-path 0.3s ease-in-out;
}

.scrollable-text {
  padding: 10px; /* Marge intérieure pour le texte */
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecf0f1; /* Background color */
}

.container {
  position: relative;
  width: 300px;
  height: 200px;
}

.cadre,
.cadre2 {
  position: absolute;
  top: 5%;
  left: 18%;
  height: 1500px;
  width: 1200px;
  border: 2px solid #e9e9e9; /* Définit une bordure de 2 pixels solide de couleur noire */
  margin: -100px; /* Centre le cadre horizontalement dans le conteneur parent */
  border-radius: 50px;
  background-color: #c0c0c0;
}

.cadre00 {
  position: absolute;
  top: 100px;
  left: -250px;
  height: 80%;
  right: -1200px;
  border-radius: 50px;
  background-color: #000; /* Couleur de rectangle A */
  z-index: 1;
  border: 2px solid $couleurContourCare;
  background: radial-gradient(circle, $couleurCare 10%, black 70%);
  box-shadow: 0px 0px 15px $couleurCare;
}

.cadre0 {
  position: absolute;
  top: 5%;
  left: 18%;
  height: 1500px;
  width: 1200px;
  border: 2px solid #e9e9e9; /* Définit une bordure de 2 pixels solide de couleur noire */
  margin: -100px; /* Centre le cadre horizontalement dans le conteneur parent */
  border-radius: 50px;
  background-color: #0000ff; /* Couleur de rectangle A */
  clip-path: circle(200px at 25% 25%);
  z-index: 2;
}

.courcle {
  position: relative;
  background-color: crimson;
  border: 2px solid #fff; /* Couleur de la bordure du cercle */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  // mix-blend-mode: multiply; /* Mélanger les couleurs pour montrer le rectangleA à travers le cercle */
  z-index: 500;
}

.circle {
  position: absolute;
  background-color: #45bd4b;
  border: 2px solid #9cf19c; /* Couleur de la bordure du cercle */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 15px #45bd4b;
  // mix-blend-mode: multiply; /* Mélanger les couleurs pour montrer le rectangleA à travers le cercle */
  z-index: 5;
}

.circleContenant {
  position: absolute;
  background-color: #c94f1f;
  border: 2px solid #c94f1f; /* Couleur de la bordure du cercle */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 15px #c94f1f;
  // mix-blend-mode: multiply; /* Mélanger les couleurs pour montrer le rectangleA à travers le cercle */
  z-index: 5;
}

#cadre2:hover + #circle {
  display: block;
}

#circle {
  transform: translate(-50%, -50%);
}

.hublot {
  position: relative;
  width: 300px; /* Ajustez la largeur du hublot selon vos besoins */
  height: 200px; /* Ajustez la hauteur du hublot selon vos besoins */
  overflow: hidden;
}

.hublot::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Couleur de fond du hublot avec opacité */
  border: 1px solid #000; /* Optionnel : Ajoute une bordure au rectangle */
  box-sizing: border-box;
  pointer-events: none; /* Permet aux événements de passer à travers */
}

.mon-carre {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;
}

.mon-cercle {
  width: 100px;
  height: 100px;
  background-color: transparents;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imageContenu {
  left: 300px;
  right: 300px;
  position: relative;
}

.imageContenu-container {
  position: absolute;
  top: 130px;
  height: 120px;
  left: 750px; /* ajustez la position en fonction de vos besoins */
  border-radius: 50px;
  background-color: $couleurCare; /* couleur de fond du cercle */
  z-index: 5;
  padding: 10px; /* ajustez la taille du cercle en fonction de vos besoins */
  box-shadow: 0px 0px 15px $couleurCare;
}

.imageContenu-container img {
  width: 400px; /* assurez-vous que l'image remplit le cercle */
  height: 100px;
  z-index: 4;
  border-radius: 50px;

  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.zoneTexte {
  //  border: 1px solid #ffffff; /* Optionnel : Ajoute une bordure au rectangle */
  position: absolute;
  top: 720px; /* ajustez la position en fonction de vos besoins */
  left: -200px; /* ajustez la position en fonction de vos besoins */
  width: 1300px; /* assurez-vous que l'image remplit le cercle */
  height: 100px;
  color: white;
  overflow: hidden;
  object-fit: cover;
}

.light-plastic-button {
  position: absolute;
  //  top: 85px;
  top: 70px;
  left: -130px;

  width: 50px;
  height: 205px;

  border: none;
  z-index: 1;
  background-color: #d63ab4; /* Couleur de fond sombre */
  color: #fff; /* Couleur du texte en blanc */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en pointeur au survol */
  //box-shadow: 0px 0px 15px #45bd4b; /* Ombre légère */
}

.dark-plastic-button {
  position: absolute;
  //  top: 85px;
  top: 70px;
  left: -200px;

  width: 50px;
  height: 205px;

  border: none;
  z-index: 1;
  background-color: #d63ab4; /* Couleur de fond sombre */
  color: #fff; /* Couleur du texte en blanc */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en pointeur au survol */
  //box-shadow: 0px 0px 15px #45bd4b; /* Ombre légère */
}

.dark-plastic-button:hover {
  background-color: #555; /* Couleur de fond légèrement plus sombre au survol */
}

.ozef-plastic-button {
  position: absolute;
  //  top: 85px;
  top: 70px;
  left: -60px;

  width: 50px;
  height: 205px;

  border: none;
  z-index: 1;
  background-color: #d6a53a; /* Couleur de fond sombre */
  color: #fff; /* Couleur du texte en blanc */
  padding: 10px 20px; /* Espacement intérieur du bouton */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur en pointeur au survol */
  //box-shadow: 0px 0px 15px #45bd4b; /* Ombre légère */
}

.ozef-plastic-button:hover {
  background-color: #555; /* Couleur de fond légèrement plus sombre au survol */
}

.encadrerCreation {
  background-color: #555; /* Couleur de fond légèrement plus sombre au survol */
}

.boubi {
  top: 0px;
  left: -600px;
  width: 2000px;
  height: 920px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}

.titrax {
  font-size: 70px;
  color: white;
  position: absolute;
  top: 100px;
  margin: 0 auto;
}

.descri {
  top: 300px;
  position: relative;
  display: block;
  width: 100%;
  font-size: $font-size;
  //  line-height: $font-size * 2;
  font-family: $font-face;
  //  margin-bottom: $font-size * 2;
  border: none;
  //  border-bottom: 3px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  //  background: $form-bg;
  width: 1250px;
  height: 450px;
  left: -200px;
  padding-left: 5px;
  //  outline: none;
  color: rgb(255, 255, 255);
}

.kadrax {
  overflow: 'hiden';
}
