<!-- 
<button mat-button (click)="this.openDialog()">Open dialog</button>


<mat-dialog-content class="mat-typography">vfcdxsz </mat-dialog-content>
-->
<h1>{{ nomContenant() }}</h1>

<h4>LES CONTENUS DU CONTENANT</h4>

<div *ngFor="let contenu of contenant?.contenus">
  <li>{{ contenu.nom }}</li>

  <div *ngIf="contenu.type == 'AUDIO'">
    <button (click)="openAudioDialog(contenu)">
      <fa-icon icon="pencil-alt"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit"></span>
    </button>

    <a class="aud" (click)="openAudioDialog(contenu)">{{ contenu.nom }}</a>
  </div>

  <div *ngIf="contenu.type == 'ALBUMPHOTO'">
    <button (click)="openAudioDialog(contenu)">
      <fa-icon icon="pencil-alt"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit"></span>
    </button>

    <a class="miam" (click)="openAlbumPhotoDialog(contenu)">{{ contenu.nom }}</a>
  </div>

  <div *ngIf="contenu.type == 'PHOTO'">
    <a class="bu" (click)="openPhotoDialog(contenu)">{{ contenu.nom }}</a>
  </div>
</div>

<br /><br />

<h3>LES CONTENANTS DU CONTENANT</h3>

<div *ngFor="let contenant of contenant?.contenants">
  <li>
    <a class="con" [routerLink]="['/contenant', contenant.id, 'systeme']">{{ contenant.nom }}</a>
  </li>
</div>

<br /><br />

<h2>JE CRAY UN TRUC</h2>

<button type="button" class="button" [routerLink]="['/contenant', contenant?.id, 'add']">nouvo Contenant</button>

<button type="button" class="button" [routerLink]="['/film', contenant?.id, 'addfilm']">nouvo Film</button>

<button type="button" class="button" [routerLink]="['/audio', contenant?.id, 'addaudio']">nouvo audio</button>

<button type="button" class="button" [routerLink]="['/album-photo', contenant?.id, 'addalbum']">nouvo album photo</button>

<button type="button" class="button" [routerLink]="['/photo', contenant?.id, 'addphoto']">nouvelle photo</button>
