<!-- 
<button mat-button (click)="this.openDialog()">Open dialog</button>


<mat-dialog-content class="mat-typography">vfcdxsz </mat-dialog-content>
-->

<div *ngFor="let contenu of contenant?.contenus">
  <li>{{ contenu.nom }}</li>
  <div *ngIf="contenu.type == 'AUDIO'">
    <!--  
    <button
     
      type="submit"
      [routerLink]="['/audio', contenant?.id, 'contempaudio']"
      class="btn btn-primary btn-sm"
      data-cy="entityEditButton"
    >   </button>
  -->

    <button (click)="openAudioDialog(contenu)">
      <fa-icon icon="pencil-alt"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit"></span>
    </button>
  </div>
</div>

<p>YOHOOOOOO</p>

<div *ngFor="let contenant of contenant?.contenants">
  <a [routerLink]="['/contenant', contenant.id, 'systeme']">{{ contenant.nom }}</a>
</div>

<p>YAAAAAAAAA</p>

<button type="submit" [routerLink]="['/contenant', contenant?.id, 'add']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
  <fa-icon icon="pencil-alt"></fa-icon>
  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">nouvo component</span>
</button>

<p>YEEUUUUUUUUUSH</p>

<button type="submit" [routerLink]="['/film', contenant?.id, 'addfilm']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
  <fa-icon icon="pencil-alt"></fa-icon>
  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">nouvo film</span>
</button>

<p>RYYYYYYYYYYYSH</p>

<button type="submit" [routerLink]="['/audio', contenant?.id, 'addaudio']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
  <fa-icon icon="pencil-alt"></fa-icon>
  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">nouvo audio</span>
</button>
