<div *ngFor="let contenu of contenant?.contenus">
  <li>{{ contenu.nom }}</li>
</div>

<p>YOHOOOOOO</p>

<div *ngFor="let contenant of contenant?.contenants">
  <a [routerLink]="['/contenant', contenant.id, 'systeme']">{{ contenant.nom }}</a>
</div>

<p>YAAAAAAAAA</p>

<button
  id="jh-create-entity"
  data-cy="entityCreateButton"
  class="btn btn-primary jh-create-entity create-contenu"
  [routerLink]="['/contenu/new']"
>
  <fa-icon icon="plus"></fa-icon>
  <span jhiTranslate="cipangoApp.contenu.home.createLabel"> Create a new Contenu </span>
</button>
