<h1 class="titre">{{ account?.firstName }}</h1>
<button
  [style.top.px]="300"
  [style.left.px]="000"
  [style.background-color]="ccreations"
  (click)="swithLaccreations()"
  class="button-6"
  role="button"
>
  mes création
</button>
<button
  [style.top.px]="300"
  [style.left.px]="100"
  [style.background-color]="cvoyages"
  (click)="swithLacvoyages()"
  class="button-6"
  role="button"
>
  mes voyages
</button>

<button
  [style.bottom.px]="575"
  [style.right.px]="0"
  [style.background-color]="'#ffffff'"
  (click)="logout()"
  [routerLink]="['/']"
  class="button-1"
  role="button"
>
  🛩️
</button>

<div class="gallery" *ngIf="creationactifs == true">
  <div class="barre"></div>
  <div class="barre2"></div>
  <button class="button-12" [routerLink]="['/contenant', 'new']" role="button">📌</button>

  <div *ngFor="let contenant of contenants">
    <div *ngIf="contenant.iconeContentType != null" class="gaga">
      <a>
        <div
          class="circle"
          [style.top.px]="contenant.ordonnee"
          [routerLink]="['/contenant', contenant.id, 'systeme']"
          [style.backgroundImage]="cheminIcone(contenant)"
        ></div>
      </a>
    </div>
  </div>
</div>

<!--
  [style.background-image]="cheminIcone(contenant)"
<div class="barre"></div>
"'url(src/main/webapp/content/contenants/icone/ico16801.png)'"
-->
