<h2 class="titre">Nouveau Système</h2>

<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="rectangle" [style.left.px]="squareLeft">
    <jhi-alert-error></jhi-alert-error>

    <!--
    <div class="barre"></div>
          -->
    <div class="barre2"></div>

    <a>
      <img src="src/main/webapp/content/symbos/next.png" (click)="ajoutContenant()" class="next" />
    </a>

    <div class="nom">
      <!--
      <div class="erreuro" *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
        <div class="alert" *ngIf="editForm.get('nom')?.errors?.required">
          Ce champ est obligatoire
        </div>
      </div>
      -->

      <label class="lala">Nom du système</label><br />
      <input type="text" name="nom" id="field_nom" data-cy="nom" formControlName="nom" placeholder="..." class="inpuput" />
    </div>
    <br />

    <div class="nom">
      <label class="lala">Explique ton idée</label><br />
      <textarea
        type="text"
        name="description"
        id="field_description"
        data-cy="description"
        class="inpuputdescri"
        placeholder="..."
        formControlName="description"
      ></textarea>
      <div
        *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)"
      ></div>
      <br />
    </div>

    <div class="images">
      <label class="lolo">Icone</label><br />
      <ngx-dropzone [multiple]="false" class="zoneGlissay" accept="image/*" (change)="NgsetFileData($event, 'icone', true, editForm)">
        <ngx-dropzone-label *ngIf="editForm.get('iconeContentType')!.value == null" class="plus">
          <img src="src/main/webapp/content/symbos/upload.png" class="upload" />
        </ngx-dropzone-label>

        <div *ngIf="editForm.get('iconeContentType')!.value != null">
          <img
            class="mamage"
            [src]="'data:' + editForm.get('iconeContentType')!.value + ';base64,' + editForm.get('icone')!.value"
            *ngIf="editForm.get('icone')!.value"
            alt="contenant image"
          />
        </div>
      </ngx-dropzone>

      <br />
      <br />
      <br />
      <label class="lolo">Arrière plan</label><br />
      <ngx-dropzone [multiple]="false" class="zoneGlissay" accept="image/*" (change)="NgsetFileData($event, 'arriereplan', true, editForm)">
        <ngx-dropzone-label *ngIf="editForm.get('arriereplanContentType')!.value == null" class="plus">
          <img src="src/main/webapp/content/symbos/upload.png" class="upload" />
        </ngx-dropzone-label>
        <div *ngIf="editForm.get('arriereplanContentType')!.value != null">
          <img
            class="mamage"
            [src]="'data:' + editForm.get('arriereplanContentType')!.value + ';base64,' + editForm.get('arriereplan')!.value"
            *ngIf="editForm.get('arriereplan')!.value"
            alt="contenant image"
          />
        </div>
      </ngx-dropzone>
    </div>
  </div>
</form>

<!-- 
  CONTENU
-->

<form name="contenuForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="contenuForm">
  <div *ngIf="ajout == true">
    <h2 class="titreContenu">Premier Contenu</h2>

    <div class="rectangleContenu">
      <div class="barre3"></div>
      <div *ngFor="let type of typeContenu">
        <label class="checkbox">
          <input
            class="boutbout"
            type="checkbox"
            name="radioOption"
            [checked]="radioOptionSelected === type"
            (change)="radioOptionSelected = type"
          />
          {{ type }}
        </label>
      </div>

      <br />

      <label class="rectangleDescri">{{ optionChoisie() }}</label>

      <br />
      <br />
      <br />
      <div class="nom">
        <label class="lala">Nom</label><br />
        <input type="text" name="nom" id="field_nom" data-cy="nom" formControlName="nom" placeholder="..." class="inpuputcontenu" />
      </div>
      <br />

      <div class="nom">
        <label class="lala">Résumé</label><br />
        <textarea
          type="text"
          name="description"
          id="field_description"
          data-cy="description"
          class="inpuputcontenudescri"
          placeholder="..."
          formControlName="description"
        ></textarea>
        <div
          *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)"
        ></div>
      </div>

      <!-- 
        TYPE SPECIFIQUE
        -->

      <div class="fichiersContenus">
        <div [ngSwitch]="radioOptionSelected">
          <ng-container *ngSwitchCase="'Audio'">
            <label class="lolo">Audio</label><br />
            <ngx-dropzone
              type="file"
              id="file_fichier"
              data-cy="fichier"
              (change)="NgsetAudioFileData($event, 'fichier', true)"
              accept="audio/*"
            >
              <ngx-dropzone-label *ngIf="editForm.get('iconeContentType')!.value == null" class="plus"> </ngx-dropzone-label>

              <div *ngIf="editForm.get('iconeContentType')!.value != null"></div>
            </ngx-dropzone>
          </ng-container>
          <ng-container *ngSwitchCase="'Image'">
            <label class="lolo">Image</label><br />
            <ngx-dropzone
              type="file"
              id="file_fichier"
              data-cy="fichier"
              (change)="NgsetAudioFileData($event, 'fichier', true)"
              accept="image/*"
            >
              <ngx-dropzone-label *ngIf="editForm.get('iconeContentType')!.value == null" class="plus"> </ngx-dropzone-label>

              <div *ngIf="editForm.get('iconeContentType')!.value != null"></div>
            </ngx-dropzone>
          </ng-container>

          <ng-container *ngSwitchCase="'Texte'">
            <label class="lala">Texte</label><br />
            <textarea
              type="text"
              name="texte"
              id="field_texte"
              data-cy="texte"
              class="inpuputcontenudescri"
              placeholder="..."
              formControlName="texte"
            ></textarea>
            <div *ngIf="contenuForm.get('texte')!.invalid && (contenuForm.get('texte')!.dirty || contenuForm.get('texte')!.touched)"></div>
          </ng-container>

          <ng-container *ngSwitchCase="'Album'">
            <label class="lolo">Album</label><br />

            <ngx-dropzone type="file" id="file_fichier" data-cy="fichier" (change)="setFilesData($event, 'fichier', true)" accept="image/*">
              <ngx-dropzone-label *ngIf="contenuForm.get('iconeContentType')!.value == null" class="plus">
                <img src="src/main/webapp/content/symbos/upload.png" class="upload" />
              </ngx-dropzone-label>

              <div *ngIf="contenuForm.get('iconeContentType')!.value != null"></div>
            </ngx-dropzone>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <h1>Sélectionne un type</h1>
            <p>Sélectionne</p>
          </ng-container>
        </div>
      </div>

      <!-- 
        <label class="lolo">Icone</label><br />
        <ngx-dropzone  class="zoneGlissay" accept="image/*" (change)="NgsetFileData($event, 'icone', true)"> 
   
  
          <ngx-dropzone-label *ngIf="editForm.get('iconeContentType')!.value  == null" class="plus" >
  
            <img src="src/main/webapp/content/symbos/upload.png" class="upload" />
  
           </ngx-dropzone-label>
  
  
             <div *ngIf="editForm.get('iconeContentType')!.value  != null">
               <img 
               class="mamage"
               [src]="'data:' + editForm.get('iconeContentType')!.value + ';base64,' + editForm.get('icone')!.value"
               *ngIf="editForm.get('icone')!.value"
               alt="contenant image"
             />
             </div>
         </ngx-dropzone>
  

        
        </div>

        <div class="espace"></div>


        formControlName="nom"
            -->

      <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>

      <button
        type="submit"
        id="save-entity"
        data-cy="entityCreateSaveButton"
        [disabled]="editForm.invalid || isSaving"
        class="btn btn-primary"
      >
        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
      </button>
    </div>
  </div>
</form>
