<!-- <p>bite works!</p>

<p>{{getAudioUrl(this.audio)}}</p>
    -->

<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
</div>
<div class="modal-body">
  <p>Hello, {{ photoNom(this.photo) }}</p>
  <h2 mat-dialog-title>HAAAA</h2>

  <img src="{{ cheminPhoto() }}" width="400px" height="500px" />
  <!--<img src="src/main/webapp/content/1e82818622b614fa5f5b0bf2ad62e5799eab5d84.jpeg" width="400px" height="500px" /> -->

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
