<!-- <p>bite works!</p>

<p>{{getAudioUrl(this.audio)}}</p>
    -->

<div class="dadalle">
  <div class="modal-header">
    <h4 class="modal-title" [style.font.size]="100">{{ contenant?.nom }}</h4>
  </div>
  <div class="modal-body">
    <div class="glagla">
      <div class="gloglo">
        <!--
  <h2 class="TitreGloglo">Contenus en première page</h2>
    -->

        <div
          cdkDropList
          #listeEnAvantA="cdkDropList"
          [cdkDropListData]="listeEnAvant"
          [cdkDropListConnectedTo]="[listePasEnAvantA]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div *ngFor="let item of listeEnAvant">
            <div class="example-box" cdkDrag>{{ item }}</div>
          </div>
        </div>
      </div>

      <div class="gloglo">
        <!--
  <h2 class="TitreGloglo">Toutes les créations</h2>
  -->

        <div
          cdkDropList
          #listePasEnAvantA="cdkDropList"
          [cdkDropListData]="listePasEnAvant"
          [cdkDropListConnectedTo]="[listeEnAvantA]"
          class="example-list"
          (cdkDropListDropped)="drup($event)"
        >
          <div class="lala" *ngFor="let item of listePasEnAvant">
            <div class="example-box" cdkDrag>{{ item }}</div>
          </div>
        </div>
      </div>
    </div>

    <textarea type="text" class="inpuput" (input)="onInputChange($event)" value="{{ contenant?.description }}"></textarea>
    <button type="button" class="bubu" (click)="upup()"></button>

    <!--   <source src='../../../content/images/uu.mp3' type="audio/mpeg">
                
               <source src='../../../content/audios/uu.mp3' type="audio/mpeg">  -->

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>
    </div>
  </div>
</div>
