<div class="cadre">
  <div class="ma-classe">
    <div class="d-flex justify-content-center">
      <h1 class="titre">Créer mon compte</h1>

      <div class="alert alert-success" *ngIf="success">
        <strong>Création du compte validée!</strong> Un email de confirmation vous sera envoyé.
      </div>

      <div class="alert alert-danger" *ngIf="error"><strong>La création du compte a échoué</strong> Veuillez réésayer plus tard.</div>

      <div class="alert alert-danger" *ngIf="errorUserExists">
        <strong>Ce nom d'utilisateur est déjà utilisé</strong> Veuillez en choisir un autre.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists">
        <strong>Cet Email est déjà utilisé!</strong> Veuillez en choisir une autre.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">Le champ "mot de passe" et sa confirmation ne coincident pas.</div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="col-md-12">
        <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
          <br />
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="login"
              name="login"
              placeholder="Nom d'utilisateur"
              formControlName="login"
              data-cy="username"
              #login
            />

            <div *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
              <!--           <small
              class="form-text text-danger"
              *ngIf="registerForm.get('login')?.errors?.required"
            
            >
              Ce champ est requis
            </small>
            -->

              <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength">
                Ce champ doit faire au moins 1 caractère.
              </small>

              <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength">
                Ce champ ne peux pas être plus long que 50 caractères.
              </small>

              <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern">
                Le nom d'utilisateur ne peux contenir que des lettres et des chiffres.
              </small>
            </div>
          </div>
          <br />
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="email"
            />

            <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
              <!--          <small
              class="form-text text-danger"
              *ngIf="registerForm.get('email')?.errors?.required"
              
            >
              L'email est requis
            </small>
-->
              <small
                class="form-text text-danger"
                *ngIf="registerForm.get('email')?.errors?.invalid"
                jhiTranslate="global.messages.validate.email.invalid"
              >
                votre email est invalide.
              </small>

              <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength">
                votre email doit faire au moins 5 caractères.
              </small>

              <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength">
                votre email ne peux pas être plus long que 100 caractères.
              </small>
            </div>
          </div>
          <br />
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Mot de passe"
              formControlName="password"
              data-cy="firstPassword"
            />

            <div
              *ngIf="
                registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
              "
            >
              <!--           <small
              class="form-text text-danger"
              *ngIf="registerForm.get('password')?.errors?.required"
            >
              Ce champ est requis.
            </small>
          -->
              <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength">
                Votre mot de passe doit être d'au moins 4 caractères.
              </small>

              <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength">
                Votre mot de passe ne peux pas être plus long que 50 caractères.
              </small>
            </div>

            <!--          <br>
          <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
-->
          </div>
          <br />
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Confirmation du mot de passe"
              formControlName="confirmPassword"
              data-cy="secondPassword"
            />

            <div
              *ngIf="
                registerForm.get('confirmPassword')!.invalid &&
                (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
              "
            >
              <!--           <small
              class="form-text text-danger"
              *ngIf="registerForm.get('confirmPassword')?.errors?.required"
            >
              La confirmation du mot de passe est requise.
            </small>
          -->

              <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength">
                Votre mot de passe doit être d'au moins 4 caractères.
              </small>

              <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength">
                Votre mot de passe ne peux pas être plus long que 50 caractères.
              </small>
            </div>
          </div>

          <br />
          <button type="submit" [disabled]="registerForm.invalid" class="button-6" role="button" data-cy="submit">M'enregistrer</button>
        </form>
      </div>
    </div>
  </div>
</div>
