<nav class="sidenav">
  <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
      <span>
        <img src="src/main/webapp/content/symbos/home.png" width="40px" height="40px" />
      </span>
    </a>
  </li>

  <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a class="dropdown-item" routerLink="account/accountpage" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
      <span>
        <img src="src/main/webapp/content/symbos/compte.png" width="40px" height="40px" />
      </span>
    </a>
  </li>

  <a [style.top.px]="400" [style.left.px]="400" class="dropdown-item">
    <span>
      <img src="src/main/webapp/content/symbos/voyage.png" width="40px" height="40px" />
    </span>
  </a>
</nav>
