<div class="cadre">
  <div class="ma-classe">
    <h1 class="titre">Se Connecter</h1>
    <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
      <strong>Failed to sign in!</strong> Please check your credentials and try again.
    </div>
    <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
      <br /><br />
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder="Loggin"
          formControlName="username"
          #username
          data-cy="username"
        />
      </div>
      <br />
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
          placeholder="Mot de passe"
          formControlName="password"
          data-cy="password"
        />
      </div>
      <br />
      <div class="form-check">
        <label class="form-check-label" for="rememberMe">
          <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" />
          <span class="tetexte">Se souvenir de moi</span>
        </label>
      </div>

      <!--      <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button" data-cy="submit">Sign in</button>  -->
      <br />
      <br />
      <button type="submit" class="button-6" role="button">Valider</button>
    </form>
    <br />
    <div>
      <a routerLink="/account/register">Créer mon compte</a>
    </div>
    <div>
      <a routerLink="/account/reset/request">Mot de passe oublié ?</a>
    </div>
  </div>
</div>
