<div>HYYYYYYYYYYYYYYYYYYYYYYYYYYYYY</div>
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-audio-heading" data-cy="AudioCreateUpdateHeading" jhiTranslate="cipangoApp.audio.home.createOrEditLabel">
        Create or edit a Audio
      </h2>
      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>
        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cipangoApp.contenu.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <div *ngFor="let contenant of contenants">
              <a class="bubu" (click)="setContenanta(contenant)">NOM : {{ contenant.nom }}</a>
            </div>
          </div>
          {{ getNomContenanta() }}
        </div>
        <br />

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cipangoApp.contenu.contenant" for="field_contenant">Contenant</label>
          <select class="form-control" id="field_contenant" data-cy="contenant" name="contenant" formControlName="contenant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="contenantOption.id === editForm.get('contenant')!.value?.id ? editForm.get('contenant')!.value : contenantOption"
              *ngFor="let contenantOption of contenantsSharedCollection; trackBy: trackContenantById"
            >
              {{ contenantOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
