<div id="contenuti" class="contenuti">
  <div class="rectangle">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class="titrass">Créer un lien</div>
      <div>
        <div class="nom">Nom</div>
        <input type="text" name="nom" id="field_nom" class="inpuput" formControlName="nom" />
        <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="nom">Nouer un lien</div>
        <!--
        <div class="dropdown">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <div *ngFor="let contenant of contenants">
              <a class="bubu" (click)="setContenanta(contenant)">NOM : {{ contenant.nom }}</a>
            </div>
          </div>
          {{ getNomContenanta() }}
        </div>
        -->

        <input type="text" type="text" [(ngModel)]="lecoco" class="inpuput" formControlName="lekow" />
        <button [style.background-color]="this.couleurAffiche" class="clikar" type="text" (click)="findLeConcon()"></button>

        <br />
      </div>

      <a *ngIf="formulaxValidax()" class="go" (click)="save()">GoW</a>
      <div class="plubas"></div>
    </form>
  </div>
</div>
