<div>
  <div>{{ nomAccount() }}</div>
  <div *ngFor="let contenant of contenants; let i = index">
    <a>
      <div
        [style.top.px]="arrY[i]"
        [style.left.px]="arrX[i]"
        class="ma-classe"
        height="100"
        width="100"
        (click)="addContenantVue(contenant)"
        [routerLink]="['/contenant', contenant.id, 'systeme']"
      >
        <div class="dot"></div>
      </div>
      <span class="dot"></span>
    </a>
  </div>
</div>
<!--
<div class="animation-container">
	<div class="lightning-container">
		<div class="lightning white"></div>
		<div class="lightning red"></div>
	</div>
	<div class="boom-container">
		<div class="shape circle big white"></div>
		<div class="shape circle white"></div>
		<div class="shape triangle big yellow"></div>
		<div class="shape disc white"></div>
		<div class="shape triangle blue"></div>
	</div>
	<div class="boom-container second">
		<div class="shape circle big white"></div>
		<div class="shape circle white"></div>
		<div class="shape disc white"></div>
		<div class="shape triangle blue"></div>
	</div>
</div>

<div class="footer">Implemented with ❤ by <a href="https://mrossignol.fr" target="_blank">Maxime Rossignol</a> from an original idea by <a href="https://www.uplabs.com/shashanksahay" traget="_blank">Shashank Sahay</a></div>
-->
