/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}
div.decal {
  position: fixed;
  left: 400px;
  color: #ffb94f;
}

.vertical-text {
  writing-mode: vertical-lr; /* Définir l'orientation du texte de haut en bas */
  text-orientation: upright; /* Garder le texte droit */
  white-space: nowrap; /* Éviter que le texte ne se divise en plusieurs lignes */
  font-size: 50px; /* Taille de la police */
  //  width: 40px; /* Largeur du conteneur du texte */
  //  height: 200px; /* Hauteur du conteneur du texte */
  border: 1px solid #000; /* Bordure pour la décoration */
  display: flex;
  align-items: center; /* Centrer le texte verticalement */
  justify-content: center; /* Centrer le texte horizontalement */
  left: 1600px;
  top: 10px;
  color: #e4a264;
  //  border: 4px solid #e78931;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  //  background: #bcbdfc;
  // font-size: 40px; /* Ajoutez la taille de police souhaitée */

  position: absolute;
}

.point-cloud {
  position: absolute; /* Pour positionner les points de manière absolue par rapport au conteneur */
  left: 600px;
  top: 400px;
}

/* 
.white {
  background-color: #fff;
}

.gray {
  background-color: #ccc;
}


.point:nth-child(1) {
  top: -100px;
  left: 70px;
  width: 30px; 
  height: 30px;
}

.point:nth-child(2) {
  top: 200px;
  left: 120px;
}

.point:nth-child(3) {
  top: 170px;
  left: -100px;
  width: 50px; 
  height: 50px;
}
.point:nth-child(4) {
  top: 200px;
  left: 600px;
}
.point:nth-child(5) {
  top: -250px;
  left: 60px;
}
.point:nth-child(6) {
  top: 50px;
  left: -400px;
}
Positionnez les points aléatoirement autour du texte */

.dot {
  height: 50px;
  width: 50px;
  background-color: #259416;
  border-radius: 50%;
}

.ma-classe {
  position: absolute;
}

div.perso {
  position: fixed;
  top: 120px;
  left: 400px;
  width: 300px;
  border: 3px solid #73ad21;
}

div.fixed {
  position: fixed;
  top: 120px;
  left: 400px;
  width: 300px;
  border: 3px solid #73ad21;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_3.svg') no-repeat center top;
    background-size: contain;
  }
}

// ANIMATION

body {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom right, #070630 0%, #060454 100%);
  min-height: 100vh;
}

.animation-container {
  display: block;
  position: relative;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;

  .lightning-container {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    transform: translateY(-50%);

    .lightning {
      position: absolute;
      display: block;
      height: 12px;
      width: 12px;
      border-radius: 12px;
      transform-origin: 6px 6px;

      animation-name: woosh;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      animation-direction: alternate;

      &.white {
        background-color: white;
        box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
      }

      &.red {
        background-color: #fc7171;
        box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
        animation-delay: 0.2s;
      }
    }
  }

  .boom-container {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    text-align: center;
    align-items: center;
    transform: translateY(-50%);
    left: 200px;
    top: -145px;

    .shape {
      display: inline-block;
      position: relative;
      opacity: 0;
      transform-origin: center center;

      &.triangle {
        width: 0;
        height: 0;
        border-style: solid;
        transform-origin: 50% 80%;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        margin-left: -15px;
        border-width: 0 2.5px 5px 2.5px;
        border-color: transparent transparent #42e599 transparent;
        animation-name: boom-triangle;

        &.big {
          margin-left: -25px;
          border-width: 0 5px 10px 5px;
          border-color: transparent transparent #fade28 transparent;
          animation-name: boom-triangle-big;
        }
      }

      &.disc {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #d15ff4;
        animation-name: boom-disc;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
      }

      &.circle {
        width: 20px;
        height: 20px;
        animation-name: boom-circle;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        border-radius: 100%;
        margin-left: -30px;

        &.white {
          border: 1px solid white;
        }

        &.big {
          width: 40px;
          height: 40px;
          margin-left: 0px;

          &.white {
            border: 2px solid white;
          }
        }
      }

      &:after {
        background-color: rgba(178, 215, 232, 0.2);
      }
    }

    .shape {
      &.triangle,
      &.circle,
      &.circle.big,
      &.disc {
        animation-delay: 0.38s;
        animation-duration: 3s;
      }

      &.circle {
        animation-delay: 0.6s;
      }
    }

    &.second {
      left: 485px;
      top: 155px;
      .shape {
        &.triangle,
        &.circle,
        &.circle.big,
        &.disc {
          animation-delay: 1.9s;
        }
        &.circle {
          animation-delay: 2.15s;
        }
      }
    }
  }
}

@keyframes woosh {
  0% {
    width: 12px;
    transform: translate(0px, 0px) rotate(-35deg);
  }
  15% {
    width: 50px;
  }
  30% {
    width: 12px;
    transform: translate(214px, -150px) rotate(-35deg);
  }
  30.1% {
    transform: translate(214px, -150px) rotate(46deg);
  }
  50% {
    width: 110px;
  }
  70% {
    width: 12px;
    transform: translate(500px, 150px) rotate(46deg);
  }
  70.1% {
    transform: translate(500px, 150px) rotate(-37deg);
  }

  85% {
    width: 50px;
  }
  100% {
    width: 12px;
    transform: translate(700px, 0) rotate(-37deg);
  }
}

@keyframes boom-circle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(3);
  }
  100% {
  }
}

@keyframes boom-triangle-big {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }

  40% {
    opacity: 0;
    transform: scale(2.5) translate(50px, -50px) rotate(360deg);
  }
  100% {
  }
}

@keyframes boom-triangle {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
    transform: scale(3) translate(20px, 40px) rotate(360deg);
  }

  100% {
  }
}

@keyframes boom-disc {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(2) translate(-70px, -30px);
  }
  100% {
  }
}

.mot {
  position: fixed;
  top: 10%;
  left: 5%;
  z-index: 17;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 4rem;
  text-transform: uppercase;
  width: 0px;
  // border: #000;
  // border-radius: 2px;
  //  -webkit-text-stroke: 1px rgb(92, 57, 5); /* Bordure de 2 pixels de large en noir */
  // text-stroke: 2px black; /* Bordure de 2 pixels de large en noir (pour les navigateurs compatibles) */
}

.D {
  position: relative;
  top: 0px;
  left: 0px;
}
.E {
  position: relative;
  top: 0px;
  left: 10px;
}
.S {
  position: relative;
  top: 0px;
  left: 23px;
}

.letter {
  transition: transform 0.3s ease; /* Animation de la rotation */
}

.rotate {
  transform: rotate(90deg); /* Rotation de 90 degrés */
}

.M {
  position: relative;
  top: 30px;
  //  left:35px;
  color: #ffffff;
  //left:800px;
  font-size: 5rem;
  //transition: transform 5s ease; /* Animation de la rotation */
  //transform: rotate(90deg); /* Rotation de 90 degrés */
  transition: transform 1s;
}

.O {
  position: relative;
  top: 40px;
  // left:23px;
  left: 1690px;
}
.D2 {
  position: relative;
  top: 40px;
  left: 1678px;
}
.S2 {
  position: relative;
  top: 40px;
  left: 1660px;
}
.circle {
  position: relative;
  //top:-50px;
  width: 200px; /* Le même que la taille du conteneur */
  height: 200px; /* Le même que la taille du conteneur */
  border: 2px solid #fff; /* Définir la bordure pour créer le cercle */
  border-radius: 50%; /* Assurez-vous que le cercle est un cercle parfait */
  display: flex;
  justify-content: center;
  top: -5px;
  left: 770px;
}

.cercleAccount {
  position: absolute;
  //top:-50px;
  width: 20px; /* Le même que la taille du conteneur */
  height: 20px; /* Le même que la taille du conteneur */
  border-radius: 50%; /* Assurez-vous que le cercle est un cercle parfait */
  display: flex;
  justify-content: center;
  top: 150px;
  left: 90px;
  color: #e4a264;
  z-index: 50;
  background: #e4a264;
  background-color: #e4a264;
  // visibility: hidden;
}

// FOOTER
.footer {
  color: white;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  font-weight: 200;
  padding: 10px 20px;

  a {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: #c6c6c6;
    }
  }
}
